@import './colors';

body {
  background-color: $gray;
}
.inline-list {
  display: inline-flex;
  list-style: none;
  padding: 0;
  .item {
    padding: 0 1rem 0 0;
    a {
      color: $white;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

.nav {
  padding: 0 2%;
  background-color: $nav-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 5%;

  .card {
    -webkit-box-shadow: 6px 6px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 22px 0px rgba(0,0,0,0.75);
    background-color: $white;
    border-radius: .5rem;
    padding: 1rem;

    &__header, &__body {
      padding: 1rem 0;
    }
  }
}
.table {
  border-collapse: collapse;
  width: 100%;
  tbody {
    height: 500px;
    overflow: auto;
  }
  td, th {
    border: 1px solid $black;
    padding: .5rem;
  }
}

.input {
  width: 30rem;
  height: 2rem;
  padding: .3rem;
  border-radius: .3rem;
  border-color: $black;
}

.textarea {
  width: 100%;
  border-radius: .3rem;
  border-color: $black;
}

.text-center {
  text-align: center;
}
